table, td{
	margin: auto;
	width: 60%;
}
.border{
	border-bottom: 3px solid brown;
}
.button-blue, .button-green{
	color: white;
	border: none;
	border-radius: 100px;
	padding: 8px 19px 8px 19px;
}
.button-blue{
	background: blue;
}
.button-green{
	background: green;
}