table, td{
	margin: auto;
	width: 70.2%;
}
.border-bottom{
	border-bottom: 0.5px solid brown;
}
.blue-button, .green-button{
	color: white;
	border: none;
	border-radius: 100px;
	padding: 8px 19px 8px 19px;
}
.blue-button{
	background: blue;
}
.green-button{
	background: green;
}